@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Speed dial*/
.MuiSpeedDial-fab {
  @apply bg-teal-700;
  @apply dark:bg-teal-600;
}

.MuiSpeedDial-fab:hover {
  @apply bg-teal-800;
  @apply dark:hover:bg-teal-700;
}

.MuiSpeedDial-fab:focus {
  @apply ring-4;
  @apply ring-teal-300;
  @apply outline-none;
  @apply dark:ring-teal-800;
}

.MuiSpeedDial-actions button {
  @apply bg-gray-700;
  @apply text-white;
}

.MuiSpeedDial-actions button:hover {
  @apply text-black;
}